.wrapper {
  width: 100%;
  min-width: 100%;
  overflow: hidden;
}

.overlay{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 50;
  background-color: rgba(51, 51, 51, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
}

.overlay--show{
  visibility: visible;
  opacity: 1;
}

.container{
  max-width: 1390px;
  padding: 0 15px;
  margin: 0 auto;
}

.title{
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 0.2px;
  color: $blue-color;
}

.button{
  display: inline-block;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.2px;
  color:$white-color ;
  border: 2px solid $yellow-color ;
  padding: 20px 57px;
  transition: all .3s;
}



 .button:hover{
  background-color: $yellow-color;
  color: $blue-color;
  transform: scale(1.05);
  transition: all .3s;
}

.burger{
  display: none;
}

.line{
  max-width: 100%;
  height: 3px;
  background-color: #5C6168;
  margin: 50px 0 26px 0;
  
}

.header__item{
  color: #fff;
  font-size: 20px;
}

.text{
  font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
letter-spacing: 0.2px;
color: $grey-color;
}

.cost{
  font-family: 'Cormorant Infant';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 140%;
letter-spacing: 0.2px;
color: $blue-color;
}

.border{
  display: inline-flex;
  border: 2px solid $yellow-color;
  border-width: 2px 0px;    
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 12px;
  color: $blue-color;
  
}


