
.reservation {

  // .reservation__inner

  &__inner {
    
  }

  // .reservation__background

  &__background {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
  }

  // .reservation__info

  &__info {
    width: 970px;
    height: 697px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 140px;
    z-index: 100;
    background: rgba(41, 46, 54, 0.95);
    padding: 140px;
  }

  // .reservation__top

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .reservation__form

  &__form {
   
  }

  // .reservation__list

  &__list {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    max-width: 640px;
  }

  // .reservation__form-row

  &__form-row {
    margin-right: 30px;
    
  }

  &__form-row:last-child {
margin-right: 0;
  }

  &__form-row1 {
    
  }

  // .reservation__form-label

  &__form-label {
  }

  &__form-input {
    width: 307px;
  }

  // .reservation__form-input

  &__form-input {
    padding: 18px ;
    background: rgba(41, 46, 54, 0);
    border: 1px solid #858585;
    color: $white-color;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.2px;

  }

  &__form-input1 {
    padding: 18px ;
    background: rgba(41, 46, 54, 0);
    border: 1px solid #858585;
    color: $white-color;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.2px;

  }
}


.reservation--border {
  color: $white-color;
}

.reservation--title {
  color: $white-color;
  margin-bottom: 40px;
  font-family: 'Cormorant Infant';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 140%;
text-align: center;
letter-spacing: 0.2px;
text-transform: capitalize;
color: $white-color;

}

.reservation--button {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 252px;
  justify-content: center;
}

.reservation--button:hover {
  background-color: $white-color;
  border-color: $white-color;
}

.reservation__form-bottom{
  display: flex;
  justify-content: space-between;
}

.reservation__form-top{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.reservation__form-input1{
  width: 200px;
}


/*=============================================================================*/

@media (max-width:660px){
  .reservation__form-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .reservation__form-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }

  .reservation__form-row:first-child{
    margin-right: 0;
  }

  .reservation__form-row{
    margin-bottom: 20px;
  }

  .reservation__form-row1{
    margin-bottom: 20px;
  }

  .reservation__form-input1{
    width: 307px;
  }
}